<div class="nav">
  <div>
    
  </div>
  <h1>Change Pictures</h1>
  <div>
    <button class="button" (click)="saveChanges()">Done</button>
  </div>
</div>

Avatar: {{currentAvatar}}
Cover: {{currentCover}}

<div class="section">
  <h2 class="heading">Profile Pictures</h2>
  <div class="tile-list">
    <button class="tile-button"
        *ngFor="let option of profile.avatarOptions; let i = index"
        (click)="changeProfilePicture(option)"
        [class.active]="i === currentAvatar">
      <img src="{{profile.baseUrl + option}}">
    </button>
  </div>
</div>

<div class="section">
  <h2 class="heading">Cover Pictrues</h2>
  <div class="tile-list">
    <button class="tile-button"
        *ngFor="let option of profile.coverOptions; let i = index"
        (click)="changeCoverPicture(option)"
        [class.active]="i === currentCover">
      <img src="{{profile.baseUrl + option}}">
    </button>
  </div>
</div>