<div class="jumbotron" [ngStyle]="{'background-image': 'url('+profile.coverUrl+')'}">
  <button class="button" (click)="changePictures()">Change Pictures</button>
</div>

<div class="header-wrapper">
  <div class="profile-pic">
    <img src="{{profile.avatarUrl}}" />
  </div>
  <div class="header-elements">
    <h1>
      <b>Jane Doe</b>
      CA Account
    </h1>
    <div class="header-icons">
      <div class="icon-wrapper">
        ON
      </div>
      <div class="icon-wrapper">
        Northern High School
      </div>
      <div class="icon-wrapper">
        Grade 9
      </div>
    </div>
  </div>
</div>