<div class="main-menu">
  <div>
    Xello
  </div>
  <div class="nav-links">
    <div class="nav-link active">
      About Me
    </div>
    <div class="nav-link">
      Careers
    </div>
    <div class="nav-link">
      My Goals
    </div>
  </div>
  <div>

  </div>
</div>

<div class="jumbotron">
  <button class="button" (click)="changePictures()">Change Pictures</button>
</div>

<div class="header-wrapper">
  <div class="profile-pic">
  </div>
  <div class="header-elements">
    <h1>
      <b>Jane Doe</b>
      CA Account
    </h1>
    <div class="header-icons">
      <div class="icon-wrapper">
        ON
      </div>
      <div class="icon-wrapper">
        Northern High School
      </div>
      <div class="icon-wrapper">
        Grade 9
      </div>
    </div>
  </div>
</div>