.jumbotron {
    height: 300px;
    width: 100vw;
    margin-top: 60px;
    background-color: #eeeeee;
    position: relative;
    padding: 10px;
    background-size: cover;
    background-position: 50% 50%;

    .button {
        position: absolute;
        right: 30px;
        bottom: 15px;
        z-index: 3;
    }
}

.header-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    position: relative;
    z-index: 2;
    margin-top: -115px;
    padding: 10px 30px;
    color: #ffffff;

    h1 {
        margin: 0;
        font-weight: normal;
        font-size: 3em;
    }
}

.header-icons {
    display: flex;
    align-items: flex-start;
    margin: 0 -10px;
    > * {
        padding: 0 10px;
    }
}

.icon-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 10px;

    sprite-icon {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
    }
}

.header-elements {
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: auto 1fr;
}

.profile-pic {
    width: 135px;
    height: 135px;

    img {
        height: 100%;
    }
}

.button {
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 9px 16px;
    cursor: pointer;

    &:hover, &:focus {
        background-color: #ffffff;
        color: #1f1f1f;
    }
}